
.list-group-item {
  border-left: 0;
  border-right: 0;
  border-color: rgba(0,0,0,0.1);
}

.btn-icon {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

